:root {
  --color-red-50: oklch(0.971 0.013 17.38);
  --color-orange-50: oklch(0.98 0.016 73.684);
  --color-sky-50: oklch(0.977 0.013 236.62);
}

.holiday {
  --background-color: var(--color-orange-50);
  th {
    background-color: var(--background-color) !important;
  }
  td {
    background-color: var(--background-color);
  }
}

.saturday {
  --background-color: var(--color-sky-50);
  th {
    background-color: var(--background-color) !important;
  }
  td {
    background-color: var(--background-color);
  }
}

.sunday {
  --background-color: var(--color-red-50);
  th {
    background-color: var(--background-color) !important;
  }
  td {
    background-color: var(--background-color);
  }
}
