:root {
  --color-gray-200: oklch(0.928 0.006 264.531);
  --color-gray-100: oklch(0.94 0.006 264.531);
  --color-gray-400: oklch(0.707 0.022 261.325);
  --color-blue-100: oklch(0.932 0.032 255.585);
  --color-blue-800: oklch(0.424 0.199 265.638);
  --color-yellow-100: oklch(0.973 0.071 103.193);
  --color-yellow-800: oklch(0.476 0.114 61.907);
  --color-green-100: oklch(0.962 0.044 156.743);
  --color-green-800: oklch(0.448 0.119 151.328);
  --color-teal-100: oklch(0.953 0.051 180.801);
  --color-teal-800: oklch(0.437 0.078 188.216);
}

td,
table.schedule_table tbody tr:nth-child(odd) th:first-child,
table.schedule_table tbody tr:nth-child(even) th:first-child,
table.table.is-striped tbody tr:not(.is-selected):nth-child(even),
table.table.is-hoverable.is-striped tbody tr:not(.is-selected):hover,
table.table.is-hoverable.is-striped tbody tr:not(.is-selected):hover:nth-child(even) {
  background: #fff;
}

.invalid {
  td {
    background-color: var(--color-gray-200);
    color: var(--color-gray-400);
  }
}
.empty {
  td {
    background-color: var(--color-gray-100);
  }
}

table.table td {
  &.info {
    background-color: var(--color-blue-100);
    --color: var(--color-blue-800);
    color: var(--color);
  }
  &.success {
    background-color: var(--color-green-100);
    --color: var(--color-green-800);
    color: var(--color);
  }
  &.warning {
    background-color: var(--color-yellow-100);
    --color: var(--color-yellow-800);
    color: var(--color);
  }
  &.primary {
    background-color: var(--color-teal-100);
    --color: var(--color-teal-800);
    color: var(--color);
  }
  &.match {
    border-color: #dbdbdb;
    box-shadow: 0 0 0 1px var(--color) inset;
    font-weight: bold;
  }
}
